@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@-webkit-keyframes animateGradient {
    0% {
        background-position: left bottom;
    }
    50% {
        background-position: right top;
    }
    100% {
        background-position: left bottom;
    }
}
@keyframes animateGradient {
    0% {
        background-position: left bottom;
    }
    50% {
        background-position: right top;
    }
    100% {
        background-position: left bottom;
    }
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    overflow-x: hidden !important;
    letter-spacing: -0.2px;
}
body {
    font-family: "Poppins", sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden !important;
}
a {
    text-decoration: none !important;
}
ul {
    list-style: none;
}
.section-heading {
    font-weight: 600;
    font-size: 6rem;
    width: 68%;
    line-height: -4rem;
}
@media (max-width: 991.98px) {
    .section-heading {
        font-size: 5rem;
        text-align: center;
        margin: 0 auto 5rem auto;
        width: 85%;
    }
}
@media (max-width: 575.98px) {
    .section-heading {
        font-size: 4rem;
        width: 90%;
    }
}
.color-black {
    color: #000;
}
.paragraph {
    font-size: 1.6rem;
    line-height: 3rem;
}
.paragraph.dark {
    color: #666b6d;
}
.paragraph.white {
    color: white;
}
.container {
    padding: 0;
}
.fad.fa-lightbulb-on::before,
.fad.fa-search::before,
.fad.fa-angle-double-down::before {
    opacity: var(--fa-primary-opacity, 0.5);
}
.fad.fa-lightbulb-on::after,
.fad.fa-search::after,
.fad.fa-angle-double-down::after {
    opacity: var(--fa-secondary-opacity, 1);
}
.button {
    width: 27.1rem;
    height: 6.5rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    border: 4px solid #c7dffa;
    border-radius: 10rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #666b6d;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    letter-spacing: 0.1rem;
}
.button i {
    margin-left: 1rem;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.button:focus,
.button:hover {
    background-color: #c7dffa;
    color: white;
    outline: 0;
}
.button:focus i,
.button:hover i {
    color: white;
}
.button__wrapper {
    margin: 0 auto;
}
.button__wrapper .button:nth-child(n + 2) {
    margin-left: 1.8rem;
}
@media (max-width: 650px) {
    .button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 auto;
    }
    .button__wrapper {
        width: 100%;
    }
    .button__wrapper .button:nth-child(n + 2) {
        margin: 1rem auto 0 auto;
    }
}
.social ul li {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    background-size: 200% 200% !important;
    background-position: center bottom !important;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.social ul li:nth-child(n + 2) {
    margin-left: 0.4rem;
}
.social ul li.facebook {
    background: #9341d4;
    background: -webkit-gradient(linear, left bottom, left top, from(#9341d4), color-stop(50%, #d98efb), to(#9341d4));
    background: linear-gradient(0deg, #9341d4 0%, #d98efb 50%, #9341d4 100%);
    filter: drop-shadow(0px 5px 5px rgba(147, 65, 212, 0.4));
    -webkit-filter: drop-shadow(0px 5px 5px rgba(147, 65, 212, 0.4));
    -moz-filter: drop-shadow(0px 5px 5px rgba(147, 65, 212, 0.4));
}
.social ul li.twitter {
    background: #ffb16b;
    background: -webkit-gradient(linear, left bottom, left top, from(#ffb16b), color-stop(50%, #ffdb8d), to(#ffb16b));
    background: linear-gradient(0deg, #ffb16b 0%, #ffdb8d 50%, #ffb16b 100%);
    filter: drop-shadow(0px 5px 5px rgba(212, 154, 93, 0.4));
    -webkit-filter: drop-shadow(0px 5px 5px rgba(212, 154, 93, 0.4));
    -moz-filter: drop-shadow(0px 5px 5px rgba(212, 154, 93, 0.4));
}
.social ul li.linkedin {
    background: #19a5a1;
    background: -webkit-gradient(linear, left bottom, left top, from(#19a5a1), color-stop(50%, #63e8e4), to(#19a5a1));
    background: linear-gradient(0deg, #19a5a1 0%, #63e8e4 50%, #19a5a1 100%);
    filter: drop-shadow(0px 5px 5px rgba(108, 222, 220, 0.4));
    -webkit-filter: drop-shadow(0px 5px 5px rgba(108, 222, 220, 0.4));
    -moz-filter: drop-shadow(0px 5px 5px rgba(108, 222, 220, 0.4));
}
.social ul li.youtube {
    background: #f2026b;
    background: -webkit-gradient(linear, left bottom, left top, from(#f2026b), color-stop(50%, #ff8aaf), to(#f2026b));
    background: linear-gradient(0deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
    filter: drop-shadow(0px 5px 5px rgba(245, 69, 144, 0.4));
    -webkit-filter: drop-shadow(0px 5px 5px rgba(245, 69, 144, 0.4));
    -moz-filter: drop-shadow(0px 5px 5px rgba(245, 69, 144, 0.4));
}
.social ul li a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}
.social ul li:hover {
    background-position: center top !important;
}
.download-buttons a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 24.4rem;
    height: 8.1rem;
    background-color: grey;
    border-radius: 5rem;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    background-size: 200% 200% !important;
    background-position: center bottom !important;
}
.download-buttons a i {
    font-size: 3.4rem;
    color: white;
}
.download-buttons a .button-content {
    margin-left: 1.3rem;
    letter-spacing: 0.1rem;
}
.download-buttons a .button-content h6 {
    font-size: 1.2rem;
    color: #ffd4e3;
}
.download-buttons a .button-content span {
    display: block;
    font-size: 2rem;
    color: white;
    margin-top: 0.2rem;
    letter-spacing: initial;
}
.download-buttons a:last-child .button-content h6 {
    color: #bbdef9;
}
.download-buttons a.google-play {
    background: #f2026b;
    background: -webkit-gradient(linear, left bottom, left top, from(#f2026b), color-stop(50%, #ff8aaf), to(#f2026b));
    background: linear-gradient(0deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
    filter: drop-shadow(0px 10px 10px rgba(245, 69, 144, 0.4));
    -webkit-filter: drop-shadow(0px 10px 10px rgba(245, 69, 144, 0.4));
    -moz-filter: drop-shadow(0px 10px 10px rgba(245, 69, 144, 0.4));
}
.download-buttons a.apple-store {
    background: #1369ec;
    background: -webkit-gradient(linear, left bottom, left top, from(#1369ec), color-stop(50%, #65bef4), to(#1369ec));
    background: linear-gradient(0deg, #1369ec 0%, #65bef4 50%, #1369ec 100%);
    filter: drop-shadow(0px 10px 10px rgba(33, 120, 237, 0.4));
    -webkit-filter: drop-shadow(0px 10px 10px rgba(33, 120, 237, 0.4));
    -moz-filter: drop-shadow(0px 10px 10px rgba(33, 120, 237, 0.4));
}
.download-buttons a:hover {
    background-position: center top !important;
}
.comment_form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.comment_form > div {
    width: 50%;
}
.comment_form > div:last-child {
    margin-left: 1rem;
}
.comment_form .input-field {
    width: 100%;
}
.comment_form .input-field:nth-child(n + 2) {
    margin-top: 1rem;
}
.comment_form textarea.input-field {
    padding-top: 2.2rem;
    height: 14rem;
    border-radius: 3rem;
    resize: none;
}
.comment_form .button {
    margin-top: 0.6rem;
    width: 100%;
}
@media (max-width: 767.98px) {
    .comment_form {
        display: block;
    }
    .comment_form > div {
        display: block;
        width: 100%;
    }
    .comment_form > div:last-child {
        margin-left: 0;
    }
    .comment_form textarea.input-field {
        margin-top: 1rem;
    }
}
.blog_hero__wrapper {
    padding: 17rem 0 0 0 !important;
}
.blog_hero .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.blog_hero .row > div:last-child {
    margin-bottom: -1rem;
}
.blog_hero h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #000;
}
.blog_hero ul {
    display: inline;
    margin: 0 4.5rem 1.5rem 0;
    position: relative;
    bottom: -1rem;
}
.blog_hero ul li {
    display: inline-block;
}
.blog_hero ul li a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #666b6d;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.blog_hero ul li a:hover {
    color: #f2026b;
}
.blog_hero ul li a i {
    margin-right: 1rem;
}
.blog_hero ul li:nth-child(n + 2) {
    margin-left: 1rem;
}
.blog_hero .icon {
    width: 14.5rem;
    height: 14.5rem;
    border-radius: 50%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #f2026b;
    background: linear-gradient(45deg, #f2026b 0%, #ff8aaf 100%);
    filter: drop-shadow(0px 20px 20px rgba(245, 69, 144, 0.4));
    -webkit-filter: drop-shadow(0px 20px 20px rgba(245, 69, 144, 0.4));
    -moz-filter: drop-shadow(0px 20px 20px rgba(245, 69, 144, 0.4));
    position: relative;
    bottom: -1.5rem;
}
.blog_hero .icon i {
    font-size: 4.8rem;
    color: white;
}
@media (min-width: 991.98px) and (max-width: 1200px) {
    .blog_hero__wrapper {
        padding: 18.4rem 2rem 0 2rem;
    }
}
@media (max-width: 991.98px) {
    .blog_hero .row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .blog_hero ul {
        display: block;
        bottom: initial;
        margin: 2rem auto;
        text-align: center;
    }
    .blog_hero h1 {
        text-align: center;
    }
}
.blog {
    padding: 15rem 0;
}
.blog__header {
    width: 100%;
    margin-bottom: 5rem;
}
.blog__header .search {
    position: relative;
    width: 33rem;
}
.blog__header .search .input-field {
    border-color: #f0f7fc;
    padding-left: 3rem;
}
.blog__header .search i {
    font-size: 2rem;
    color: #969c9e;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 3.4rem;
    cursor: pointer;
}
.blog__header .row > div:last-child {
    margin-left: auto;
}
.blog .button {
    margin: 10rem auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.blog .button {
    border: 4px solid #ffdbe8;
    background: #1369ec;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(19, 105, 236, 0)),
        color-stop(50%, rgba(255, 177, 107, 0)),
        color-stop(51%, #f2026b),
        to(#ff8aaf)
    );
    background: linear-gradient(0deg, rgba(19, 105, 236, 0) 0%, rgba(255, 177, 107, 0) 50%, #f2026b 51%, #ff8aaf 100%);
    background-size: 200% 200%;
    background-position: center bottom;
}
.blog .button i {
    color: #f2046c;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.blog .button:focus,
.blog .button:hover {
    background-color: #ffdbe8;
}
.blog .button:focus i,
.blog .button:hover i {
    color: white;
}
.blog .button:hover {
    background-position: center top;
    border: none;
    filter: drop-shadow(0px 10px 20px rgba(245, 69, 144, 0.4));
    -webkit-filter: drop-shadow(0px 10px 20px rgba(245, 69, 144, 0.4));
    -moz-filter: drop-shadow(0px 10px 20px rgba(245, 69, 144, 0.4));
}
.blog__single {
    width: 100%;
    height: 65.7rem;
    border-radius: 3rem;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    background-position: center center;
    filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
    -webkit-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
    -moz-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
}
.blog__single-info {
    background-color: white;
    padding: 4rem 4.4rem 2.8rem 4.4rem;
    border-radius: 2rem;
    position: absolute;
    width: 34rem;
}
.blog__single-info h3 {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3rem;
    color: #000;
}
.blog__single-info h4 {
    font-size: 1.4rem;
    color: #666b6d;
    margin: 1.8rem 0 1.5rem 0;
    font-weight: 400;
}
.blog__single-info h4 span {
    margin: 0 1.2rem;
    color: #cad1d4;
}
.blog__single-image {
    width: 100%;
    height: 100%;
}
.blog__single-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 3rem;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.blog__single:hover {
    background-color: black;
}
.blog__single:hover .blog__single-image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.blog .col-lg-4 .blog__single-info {
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.blog .col-lg-8 .blog__single-info {
    bottom: 1rem;
    right: 1rem;
}
.blog .col-lg-8.left .blog__single-info {
    right: initial;
    left: 1rem;
}
.blog__content .row > div:nth-child(n + 3) {
    margin-top: 3rem;
}
@media (min-width: 991.98px) and (max-width: 1200px) {
    .blog__header .row > .col-lg-3:nth-child(2) {
        margin-left: 3rem;
    }
}
@media (max-width: 991.98px) {
    .blog {
        padding: 5rem 0;
    }
    .blog__header .dropdown-wrapper {
        width: 100%;
    }
    .blog__header .date__dropdown {
        margin-top: 2rem;
    }
    .blog__header .search {
        margin-top: 2rem;
        width: 100%;
    }
    .blog__header .search input {
        width: 100%;
    }
    .blog__content .row > div:nth-child(n + 3) {
        margin-top: initial;
    }
    .blog__content .row > div {
        margin-top: 3rem !important;
    }
    .blog .col-lg-8 .blog__single-info {
        bottom: 1rem;
        right: initial;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .blog .col-lg-8.left .blog__single-info {
        right: initial;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .blog__single-info {
        width: calc(100% - 2rem);
    }
}
@media (max-width: 576px) {
    .blog {
        padding: 10rem 3rem;
    }
}
.dropdown-wrapper {
    position: relative;
    width: 27rem;
}
.dropdown-wrapper .dropdown-box {
    border: 4px solid #f0f7fc;
    border-radius: 2rem;
    width: 100%;
    padding: 2rem;
    z-index: 1000;
    position: absolute;
    top: 10rem;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    background-color: white;
}
.dropdown-wrapper .dropdown-box.shown {
    top: 8.5rem;
    visibility: visible;
    opacity: 1;
}
.dropdown-wrapper .dropdown-box::before {
    content: "";
    display: block;
    position: absolute;
    background: url(../images/corner.png) no-repeat;
    width: 3.4rem;
    height: 4.3rem;
    background-size: cover;
    top: -2.2rem;
    right: -0.4rem;
}
.dropdown-wrapper .dropdown-box ul {
    background-color: white;
}
.dropdown-wrapper .dropdown-box ul li {
    font-size: 1.6rem;
    color: #666b6d;
    border-radius: 2rem;
    position: relative;
    padding: 1rem 0 1rem 4.7rem;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.dropdown-wrapper .dropdown-box ul li > a {
    font-size: inherit;
    color: inherit;
    width: 100%;
}
.dropdown-wrapper .dropdown-box ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: 1.7rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: inline-block;
    color: #cacdce;
}
.dropdown-wrapper .dropdown-box ul li:nth-child(n + 2) {
    margin-top: 1rem;
}
.dropdown-wrapper .dropdown-box ul li.selected,
.dropdown-wrapper .dropdown-box ul li:hover {
    color: #000;
    background-color: #f0f7fc;
    font-weight: 600;
}
.dropdown-wrapper .dropdown-box ul li:hover::before {
    color: #f41976;
}
.dropdown-wrapper .dropdown-info {
    cursor: pointer;
    border: 4px solid #f0f7fc;
    border-radius: 3rem;
    width: 100%;
    height: 6.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 3rem;
    z-index: 0;
}
.dropdown-wrapper .dropdown-info h6 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #404243;
    width: 100%;
    height: 100%;
    line-height: 5.8rem;
}
.dropdown-wrapper .dropdown-info i {
    font-size: 2rem;
    color: #969c9e;
    position: relative;
    right: 3rem;
}
.blog_single {
    width: 100vw;
}
.blog_single__wrapper {
    width: 100%;
}
.blog_single__thumbnail {
    padding-top: 10rem;
    filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
    -webkit-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
    -moz-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
}
.blog_single__thumbnail img {
    width: 100%;
}
.blog_single__content {
    overflow: visible;
    padding-bottom: 13rem;
    position: relative;
}
.blog_single__content::after {
    content: "";
    clear: both;
    display: table;
}
.blog_single__content > *:not(.grid) {
    width: calc(100% - 40rem);
    margin: 0 auto;
}
.blog_single__content h1 {
    font-size: 6rem;
    font-weight: 600;
    color: #000;
    letter-spacing: -0.4rem;
    margin-top: 4rem !important;
}
.blog_single__content h3 {
    font-size: 3rem;
    font-weight: 600;
    color: #000;
    letter-spacing: -0.2rem;
    margin-top: 4rem !important;
}
.blog_single__content h4 {
    font-size: 1.6rem;
    color: #666b6d;
    margin: 3rem auto 3rem auto !important;
    font-weight: 400;
}
.blog_single__content h4 span {
    margin: 0 1.2rem;
    color: #cad1d4;
}
.blog_single__content .social {
    position: absolute;
    top: 24rem;
    left: 10%;
}
.blog_single__content .social ul li {
    display: block;
}
.blog_single__content .social ul li:not(:first-child) {
    margin: 2rem 0 0 0;
}
.blog_single__content p {
    font-size: 1.8rem;
    line-height: 3.4rem;
    color: #666b6d;
}
.blog_single__content p:not(:first-child) {
    margin-top: 4rem;
}
.blog_single__content .grid + .paragraph {
    margin-top: 2rem;
}
.blog_single__content--images {
    width: calc(100% + 40rem);
    float: left;
    margin-left: -20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-clip: content-box;
    position: relative;
}
.blog_single__content .grid {
    margin-top: 5rem;
}
.blog_single__content .grid .paragraph {
    margin-top: 0;
}
.blog_single__content .grid-item {
    width: 31%;
    margin-bottom: 3rem;
}
.blog_single__content img.grid-item {
    border-radius: 3rem;
    filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
    -webkit-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
    -moz-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
}
.blog_single__content .grid-item--width2 {
    width: 66%;
}
.blog_single__content .grid-item--width3 {
    width: 50%;
}
.blog_single__comment {
    width: calc(100% - 40rem);
    margin: 0 auto;
    display: block;
    padding: 10rem 0;
}
.blog_single__comment h3 {
    font-size: 3rem;
    font-weight: 600;
    color: #000;
    letter-spacing: -0.2rem;
    margin-bottom: 5rem;
}
.blog_single__comment--single {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}
.blog_single__comment--single:nth-child(n + 2) {
    margin-top: 1rem;
}
.blog_single__comment--single .image {
    width: 10rem;
    height: 9.8rem;
}
.blog_single__comment--single .image img {
    width: 100%;
    height: 100%;
}
.blog_single__comment--single .comment {
    width: calc(100% - 11rem);
    border: 4px solid #f0f7fc;
    padding: 3.6rem 4rem;
    border-radius: 2rem;
    position: relative;
}
.blog_single__comment--single .comment::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../images/comment-corner.png);
    background-repeat: no-repeat;
    width: 2.2rem;
    height: 1.9rem;
    background-size: cover;
    top: -0.4rem;
    left: -1.3rem;
}
.blog_single__comment--single .comment .name {
    font-size: 2rem;
    font-weight: 600;
    color: #000;
    line-height: 3rem;
    letter-spacing: -0.1rem;
}
.blog_single__comment--single .comment .date {
    font-size: 1.4rem;
    color: #666b6d;
    line-height: 3rem;
}
.blog_single__comment--single .comment .reply-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 8.9rem;
    height: 4.1rem;
    border-radius: 3rem;
    border: 4px solid #f0f7fc;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    background: #1369ec;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(19, 105, 236, 0)),
        color-stop(50%, rgba(255, 177, 107, 0)),
        color-stop(51%, #f2026b),
        to(#ff8aaf)
    );
    background: linear-gradient(0deg, rgba(19, 105, 236, 0) 0%, rgba(255, 177, 107, 0) 50%, #f2026b 51%, #ff8aaf 100%);
    background-size: 200% 200%;
    background-position: center bottom;
}
.blog_single__comment--single .comment .reply-button:hover {
    background-color: transparent;
    filter: drop-shadow(0px 10px 20px rgba(245, 69, 144, 0.4));
    -webkit-filter: drop-shadow(0px 10px 20px rgba(245, 69, 144, 0.4));
    -moz-filter: drop-shadow(0px 10px 20px rgba(245, 69, 144, 0.4));
    background-position: center top;
    border: none;
}
.blog_single__comment--single .comment .reply-button:hover a {
    color: white;
}
.blog_single__comment--single .comment .reply-button a {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #666b6d;
    letter-spacing: 0.1rem;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.blog_single__comment--single.reply {
    width: calc(100% - 11rem);
    margin-left: auto;
}
.blog_single__comment--single.reply .comment {
    background-color: #f0f7fc;
}
.blog_single__comment--single.reply .comment::before {
    background-image: url(../images/reply-corner.png);
}
.blog_single__comment--single.reply .comment .reply-button {
    background-color: white;
    border-color: white;
}
.blog_single__comment--single.reply .comment .reply-button:hover a {
    color: white;
}
.blog_single .blog_related {
    width: 100vw;
}
.blog_single .blog_related__wrapper {
    background-color: #f0f7fc;
    padding: 10rem 0;
}
.blog_single .blog_related__header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 4rem;
}
.blog_single .blog_related__header .screenshot-nav-next {
    margin-left: 1rem;
}
.blog_single .blog_related__header h3 {
    font-size: 3rem;
    font-weight: 600;
    color: #000;
    letter-spacing: -0.4px;
}
.blog_single .blog_related__header i {
    font-size: 3rem;
}
.blog_single .blog_related-slider {
    width: 100% !important;
}
.blog_single .blog_related-slider a {
    display: block;
    height: 33.1rem;
}
.blog_single .blog_related-slide {
    height: 100%;
}
.blog_single .blog_related-single {
    height: 100%;
}
.blog_single .blog_related-single .blog__single-info {
    width: 30rem;
    height: calc(100% - 2rem);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1rem;
    padding: 4.5rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.blog_single .comment_form {
    padding-bottom: 10rem;
}
.blog_single .comment_form__wrapper {
    width: calc(100% - 40rem);
    margin: 0 auto;
}
.blog_single .comment_form__wrapper h3 {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -0.4px;
    color: #000;
    margin-bottom: 5rem;
}
.blog_single .comment_form__wrapper .input-field {
    border-color: #f0f7fc;
}
.blog_single .comment_form__wrapper .input-field:focus {
    border-color: #c9deed;
}
.blog_single .comment_form__wrapper .button {
    border-color: #ffdbe8;
    cursor: pointer;
    background: #1369ec;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(19, 105, 236, 0)),
        color-stop(50%, rgba(255, 177, 107, 0)),
        color-stop(51%, #f2026b),
        to(#ff8aaf)
    );
    background: linear-gradient(0deg, rgba(19, 105, 236, 0) 0%, rgba(255, 177, 107, 0) 50%, #f2026b 51%, #ff8aaf 100%);
    background-size: 200% 200%;
    background-position: center bottom;
}
.blog_single .comment_form__wrapper .button i {
    color: #f2046c;
}
.blog_single .comment_form__wrapper .button:hover {
    background-position: center top;
    border: none;
    filter: drop-shadow(0px 10px 20px rgba(245, 69, 144, 0.4));
    -webkit-filter: drop-shadow(0px 10px 20px rgba(245, 69, 144, 0.4));
    -moz-filter: drop-shadow(0px 10px 20px rgba(245, 69, 144, 0.4));
}
.blog_single .comment_form__wrapper .button:hover i {
    color: white;
}
@media (min-width: 991.98px) and (max-width: 1200px) {
    .blog_single__content > *:not(.grid) {
        width: calc(100% - 20rem);
        margin: 0 auto;
    }
    .blog_single__content .social {
        left: 0;
    }
    .blog_single__comment {
        width: calc(100% - 20rem);
    }
    .blog_single .comment_form__wrapper {
        width: calc(100% - 20rem);
    }
}
@media (max-width: 991.98px) {
    .blog_single__content {
        padding-bottom: 5rem;
    }
    .blog_single__content > *:not(.grid) {
        width: 100%;
        margin: 0;
    }
    .blog_single__content h1 {
        font-size: 4.5rem;
        letter-spacing: -0.2rem;
    }
    .blog_single__content .social {
        position: static;
        top: initial;
        left: initial;
        margin-top: 5rem;
    }
    .blog_single__content .social ul li {
        display: inline-block;
    }
    .blog_single__content .social ul li:not(:first-child) {
        margin-left: 1rem;
        margin-top: 0;
    }
    .blog_single__content img.grid-item {
        -o-object-fit: cover;
        object-fit: cover;
        width: 30%;
        height: 30rem;
    }
    .blog_single__content img.grid-item--width2 {
        width: 30%;
    }
    .blog_single__content .paragraph.grid-item {
        width: 100%;
    }
    .blog_single__comment {
        width: 100%;
    }
    .blog_single .comment_form__wrapper {
        width: 100%;
    }
}
@media (max-width: 767.98px) {
    .blog_single img.grid-item {
        width: 100%;
        -o-object-position: center 20%;
        object-position: center 20%;
    }
}
@media (max-width: 575.98px) {
    .blog_single__content {
        padding: 0 2rem 13rem 2rem;
    }
    .blog_single__content .paragraph {
        font-size: 1.6rem;
        line-height: 3rem;
    }
    .blog_single .blog_related__wrapper {
        padding: 5rem 3rem;
    }
    .blog_single .blog_related__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .blog_single .blog_related__header .related-post-nav {
        margin-top: 2rem;
    }
    .blog_single__comment {
        padding: 5rem 3rem;
    }
    .blog_single__comment--single.reply {
        width: 100%;
    }
    .blog_single .comment_form__wrapper {
        padding: 0 3rem;
    }
}
.preloader {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
    background: #ff00ae;
    background: linear-gradient(45deg, #ff00ae 0%, #9100ff 50%, #ff00ae 100%);
    background-size: 200% 200%;
    background-position: left bottom;
    -webkit-animation-name: animateGradient;
    animation-name: animateGradient;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
body.loaded .preloader {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.header {
    position: absolute;
    top: 5rem;
    z-index: 100;
    background-color: transparent;
    padding: 3.6rem 0 5rem 0;
    width: 100%;
}
.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.header__nav-primary {
    margin-bottom: 0;
}
.header__nav-primary > li {
    list-style: none;
    display: inline-block;
}
.header__nav-primary > li:first-child a {
    color: #f41976;
}
.header__nav-primary > li:first-child i::before {
    opacity: var(--var-primary-opacity, 0.5);
}
.header__nav-primary > li:first-child i::after {
    opacity: var(--var-secondary-opacity, 1);
}
.header__nav-primary > li:nth-child(n + 2) {
    margin-left: 3rem;
}
.header__nav-primary > li > a {
    font-size: 1.6rem;
    color: #666b6d;
    font-weight: 500 !important;
}
@media (min-width: 991.98px) {
    .header__nav-primary > li > a {
        position: relative;
    }
    .header__nav-primary > li > a::before {
        content: "";
        display: block;
        width: 0;
        height: 0.15rem;
        background-color: #666b6d;
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%, 0);
        transform: translate(-50%, 0);
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }
    .header__nav-primary > li > a:hover::before {
        width: calc(100% - 2rem);
    }
}
.header__nav .nav__dropdown {
    width: auto;
    z-index: 100;
}
.header__nav .nav__dropdown-info {
    border: 0;
    width: auto;
    height: auto;
    border-radius: initial;
    padding-left: 0;
    margin: 0;
    z-index: 100;
    position: relative;
}
@media (min-width: 991.98px) {
    .header__nav .nav__dropdown-info::after {
        content: "";
        position: absolute;
        bottom: -2rem;
        width: 100%;
        height: 2rem;
        background-color: transparent;
        display: block;
    }
}
.header__nav .nav__dropdown-box {
    width: 25rem;
    display: block;
    right: 0;
}
.header__nav .nav__dropdown-box li a {
    font-size: 1.6rem;
    color: #666b6d;
    border-radius: 2rem;
    position: relative;
    padding: 1rem 0 1rem 2rem;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    display: block;
}
.header__nav .nav__dropdown-box li:hover a {
    color: #000;
    background-color: #f0f7fc;
    font-weight: 600;
}
.header__nav .nav__dropdown-box.shown {
    top: 0;
}
@media (min-width: 991.98px) {
    .header__nav .nav__dropdown-box.shown {
        top: 0rem !important;
        visibility: visible !important;
        opacity: 1 !important;
    }
}
@media (min-width: 991.98px) {
    .header__nav .nav__dropdown:hover .nav__dropdown-box {
        top: 0rem !important;
        visibility: visible !important;
        opacity: 1 !important;
        -webkit-transform: translateY(5rem);
        transform: translateY(5rem);
    }
}
.header__nav span {
    display: none;
    position: absolute;
    top: 8%;
    right: 5%;
    font-size: 3rem;
    color: white;
    font-weight: 900 !important;
    cursor: pointer;
}
@media (min-width: 991.98px) and (max-width: 1126px) {
    .header__nav {
        margin-left: 0;
    }
    .header__nav li a {
        padding: 0 2rem/2;
    }
}
.header__bars {
    width: 5rem;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: none;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    cursor: pointer;
    padding: 1rem;
    border: 1px solid transparent;
}
.header__bars::after {
    display: table;
    clear: both;
}
.header__bars:hover {
    border: 1px solid white;
}
.header__bars-bar {
    height: 0.2rem;
    display: block;
    background-color: #000;
    margin: 0.3rem 0;
    float: right;
}
.header__bars-bar-1 {
    width: 100%;
}
.header__bars-bar-2 {
    width: 70%;
}
.header__bars-bar-3 {
    width: 40%;
}
@media (min-width: 991.98px) and (max-width: 1270px) {
    .header .container {
        padding: 0 2rem;
    }
    .header__nav-primary li:first-child {
        margin-right: 2rem;
    }
    .header__nav-primary li:nth-child(n + 3) {
        margin-left: 1.5rem;
    }
}
@media (min-width: 991.98px) and (max-width: 1060px) {
    .header .container {
        padding: 0 4rem;
    }
}
.header.fixed {
    position: fixed;
    top: 0;
    background-color: white;
}
@media (max-width: 991.98px) {
    .header__wrapper {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 5rem;
    }
    .header__nav {
        width: 100vw;
        height: 130vh;
        width: 100%;
        position: absolute;
        top: -5rem;
        right: 100%;
        overflow: hidden !important;
        background: #9341d4;
        background: linear-gradient(45deg, #9341d4 0%, #d98efb 100%);
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        padding-top: 15%;
    }
    .header__nav ul {
        display: block;
        width: 100%;
        margin-top: 5rem;
    }
    .header__nav li {
        display: block;
        width: 100%;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }
    .header__nav li a {
        font-size: 2rem;
        padding: 2.1rem 4.4rem;
        display: block;
        width: 100%;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
        color: white;
    }
    .header__nav li i {
        color: white;
    }
    .header__nav li:nth-child(n + 2) {
        margin-left: 0;
    }
    .header__nav li:hover {
        background-color: white;
    }
    .header__nav li:hover a,
    .header__nav li:hover i {
        color: #9341d4;
    }
    .header__nav .nav__dropdown-info {
        padding-left: 4.4rem;
    }
    .header__nav .nav__dropdown-box {
        position: absolute;
        width: 100%;
        border-radius: initial;
        border: 0;
    }
    .header__nav .nav__dropdown-box::before {
        display: none;
    }
    .header__nav .nav__dropdown-box li a {
        font-size: 1.8rem;
    }
    .header__nav .nav__dropdown-box.shown {
        top: 2rem;
    }
    .header__nav span {
        display: block;
    }
    .header__nav-primary {
        margin-left: 0;
    }
    .header__nav .social {
        display: none;
    }
    .header__bars {
        display: block;
    }
}
@media (max-width: 640px) {
    .header__wrapper {
        padding: 0 5rem;
    }
}
.header-2 {
    top: 0;
    padding: 4rem 0 4rem 0;
    background-color: white;
}
@media (max-width: 991.98px) {
    .header-2 .header__nav {
        top: 0;
    }
}
.header-2.fixed {
    position: fixed;
    top: 0;
    background-color: white;
}
.customize-support .header {
    top: 8rem;
}
.customize-support .header-2 {
    top: 3rem;
}
.hero {
    width: 100vw;
    margin-top: 5rem;
}
.hero__wrapper {
    width: calc(100% - 10rem);
    margin: 0 auto;
    border-radius: 3rem;
    background-color: #f0f7fc;
    padding: 18.4rem 0 9.9rem 0;
}
.hero .main-heading {
    font-size: 8rem;
    font-weight: 600;
    color: #000;
    letter-spacing: -0.4rem;
    width: 100%;
}
.hero .paragraph {
    font-size: 2.4rem;
    line-height: 4rem;
    color: #474b4c;
    margin: 3.6rem 0 3.5rem 0;
}
.hero .paragraph span {
    font-weight: 700;
}
.hero .download-buttons a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.hero .download-buttons a:last-child {
    margin-left: 2rem;
}
.hero .hero-img::before {
    content: "";
    display: block;
    position: absolute;
    width: 75.3rem;
    height: 75.3rem;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #9341d4;
    background: linear-gradient(45deg, #9341d4 0%, #d98efb 50%, #9341d4 100%);
    background-size: 200% 200%;
    background-position: left bottom;
    filter: drop-shadow(0px 30px 20px rgba(147, 65, 212, 0.4));
    -webkit-filter: drop-shadow(0px 30px 20px rgba(147, 65, 212, 0.4));
    -moz-filter: drop-shadow(0px 30px 20px rgba(147, 65, 212, 0.4));
    -webkit-animation-name: animateGradient;
    animation-name: animateGradient;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@media (min-width: 991.98px) and (max-width: 1200px) {
    .hero__wrapper {
        padding: 18.4rem 1rem 9.9rem 1rem;
    }
    .hero .main-heading {
        font-size: 6rem;
    }
    .hero .paragraph {
        font-size: 2rem;
        line-height: 3.6rem;
    }
    .hero .hero-img {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    .hero .hero-img::before {
        -webkit-transform: scale(0.7) translateX(-50%);
        transform: scale(0.7) translateX(-50%);
        top: 0;
        left: 30%;
    }
    .hero .download-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .hero .download-buttons a:last-child {
        margin-left: 0.5rem;
    }
}
@media (max-width: 991.98px) {
    .hero__wrapper {
        width: calc(100% - 5rem);
    }
    .hero .main-heading {
        font-size: 5.5rem;
        text-align: center;
        margin-top: 3rem;
    }
    .hero .paragraph {
        font-size: 2rem;
        line-height: 3.6rem;
        text-align: center;
    }
    .hero .download-buttons {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: 0 auto;
    }
    .hero .hero-img {
        width: 100%;
        margin-top: 5rem;
    }
    .hero .hero-img::before {
        -webkit-transform: scale(0.8) translate(-50%, 0);
        transform: scale(0.8) translate(-50%, 0);
        top: 0;
        left: 40%;
    }
}
@media (max-width: 767.98px) {
    .hero .main-heading {
        font-size: 5rem;
    }
    .hero .paragraph {
        font-size: 1.8rem;
        line-height: 3.4rem;
    }
    .hero .download-buttons a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .hero .download-buttons a:last-child {
        margin-left: 0rem;
        margin-top: 1rem;
    }
    .hero .hero-img {
        width: 100%;
    }
    .hero .hero-img::before {
        -webkit-transform: scale(0.6) translate(-50%, 0);
        transform: scale(0.6) translate(-50%, 0);
        top: 0;
        left: 22.5%;
    }
}
@media (max-width: 575.98px) {
    .hero .col-lg-6 {
        height: auto;
    }
    .hero__wrapper {
        padding: 10rem 0;
    }
    .hero .hero-img {
        width: 100% !important;
    }
    .hero .hero-img img {
        width: 50% !important;
        height: 50% !important;
        -o-object-fit: cover !important;
        object-fit: cover !important;
    }
    .hero .hero-img::before {
        -webkit-transform: scale(1) translate(-50%, 0) !important;
        transform: scale(1) translate(-50%, 0) !important;
        left: 50% !important;
        top: 10% !important;
        width: 40rem;
        height: 40rem;
    }
}
.hero-2 {
    margin-top: 11.3rem;
}
.hero-2 .hero__wrapper {
    padding: 10rem 0;
}
.feature {
    width: 100vw;
    padding: 15rem 0;
}
.feature .section-heading {
    margin-bottom: 5rem;
}
.feature__box {
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.feature__box--2,
.feature__box--4 {
    margin-top: 10rem;
}
.feature__box--2:hover,
.feature__box--4:hover {
    margin-top: 0;
}
.feature__box--1:hover,
.feature__box--3:hover {
    margin-top: 10rem;
}
.feature__box--1 .feature__box__wrapper {
    background-color: #efdff7;
}
.feature__box--2 .feature__box__wrapper {
    background-color: #ffe8c6;
}
.feature__box--3 .feature__box__wrapper {
    background-color: #d0f3f2;
}
.feature__box--4 .feature__box__wrapper {
    background-color: #ffdae8;
}
.feature__box .icon {
    width: 24.2rem;
    height: 24.2rem;
    margin: 0 auto;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.feature__box .icon-1 {
    background: #9341d4;
    background: linear-gradient(45deg, #9341d4 0%, #d98efb 100%);
    filter: drop-shadow(0px 40px 15px rgba(147, 65, 212, 0.4));
    -webkit-filter: drop-shadow(0px 40px 15px rgba(147, 65, 212, 0.4));
    -moz-filter: drop-shadow(0px 40px 15px rgba(147, 65, 212, 0.4));
}
.feature__box .icon-2 {
    background: #ffdb8d;
    background: linear-gradient(45deg, #ffb16b 0%, #ffdb8d 100%);
    filter: drop-shadow(0px 40px 15px rgba(255, 186, 114, 0.4));
    -webkit-filter: drop-shadow(0px 40px 15px rgba(255, 186, 114, 0.4));
    -moz-filter: drop-shadow(0px 40px 15px rgba(255, 186, 114, 0.4));
}
.feature__box .icon-3 {
    background: #63e8e4;
    background: linear-gradient(45deg, #19a5a1 0%, #63e8e4 100%);
    filter: drop-shadow(0px 40px 15px rgba(79, 188, 186, 0.4));
    -webkit-filter: drop-shadow(0px 40px 15px rgba(79, 188, 186, 0.4));
    -moz-filter: drop-shadow(0px 40px 15px rgba(79, 188, 186, 0.4));
}
.feature__box .icon-4 {
    background: #ff8aaf;
    background: linear-gradient(45deg, #f2026b 0%, #ff8aaf 100%);
    filter: drop-shadow(0px 40px 15px rgba(245, 69, 144, 0.4));
    -webkit-filter: drop-shadow(0px 40px 15px rgba(245, 69, 144, 0.4));
    -moz-filter: drop-shadow(0px 40px 15px rgba(245, 69, 144, 0.4));
}
.feature__box .icon i {
    font-size: 8rem;
    color: white;
}
.feature__box__wrapper {
    width: 100%;
    padding: 5.7rem 0.5rem 0.5rem 0.5rem;
    border-radius: 2.5rem;
    margin-top: 5rem;
}
.feature__box--content {
    background-color: white;
    position: relative;
    padding: 3.7rem 2rem 2.1rem 2rem;
    border-radius: 2rem;
    text-align: center;
}
.feature__box--content::before {
    content: "";
    width: 4.8rem;
    height: 2.2rem;
    background: url(../images/arrow.png) no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.feature__box--content h3 {
    font-size: 2.2rem;
    font-weight: 600;
    width: 80%;
    margin: 0 auto 3.4rem auto;
}
@media (max-width: 991.98px) {
    .feature__box {
        margin-top: 5rem !important;
    }
}
@media (max-width: 575.98px) {
    .feature {
        padding: 10rem 2rem;
    }
}
.video {
    width: 100vw;
    margin-top: -5rem;
}
.video__wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.video .container {
    position: relative;
}
.video__background {
    margin: 0 auto -13.1rem auto;
    width: auto;
    text-align: center;
}
.video__background img.phone {
    z-index: 10;
    position: relative;
}
.video__background img:first-child,
.video__background img:last-child {
    position: absolute;
    z-index: 0;
}
.video__background img:first-child {
    bottom: -4rem;
    left: -8rem;
}
.video__background img:last-child {
    bottom: 0;
    right: -4rem;
}
.video__background::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -10rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 5;
    width: 77.6rem;
    height: 77.6rem;
    border-radius: 50%;
    background: #9341d4;
    background: linear-gradient(45deg, #9341d4 0%, #d98efb 50%, #9341d4 100%);
    background-size: 200% 200%;
    background-position: left bottom;
    -webkit-animation-name: animateGradient;
    animation-name: animateGradient;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.video__play {
    z-index: 100;
}
.video__play > button {
    width: 17.1rem;
    height: 17.1rem;
    border-radius: 50%;
    border: 0;
    outline: 0;
    background: #1369ec;
    cursor: pointer;
    background: linear-gradient(45deg, #1369ec 0%, #65bef4 50%, #1369ec 100%);
    background-size: 200% 200%;
    background-position: left bottom;
    position: absolute;
    top: 10rem;
    left: 20%;
    z-index: 20;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    filter: drop-shadow(0px 40px 15px rgba(34, 120, 237, 0.4));
    -webkit-filter: drop-shadow(0px 40px 15px rgba(34, 120, 237, 0.4));
    -moz-filter: drop-shadow(0px 40px 15px rgba(34, 120, 237, 0.4));
}
.video__play > button:hover {
    background-position: right top;
}
.video__play > button i {
    font-size: 6.5rem;
    color: white;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.video__play .modal-close {
    position: absolute;
    top: -2.5rem;
    right: -2.5rem;
    width: 5rem;
    height: 5rem;
    z-index: 50;
}
.video__play .modal-close:hover button {
    background-color: white;
}
.video__play .modal-close:hover button i {
    color: #c274ee;
}
.video__play .modal-close button {
    border: 0;
    background-color: #c274ee;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border: 2px solid #c274ee;
}
.video__play .modal-close button i {
    font-size: 2rem;
    color: white;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.video__play iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
.video__play .modal-body {
    padding: 0;
}
.video__play .modal-content {
    height: 30rem;
    padding: 0;
}
@media (max-width: 991.98px) {
    .video__background::before {
        -webkit-transform: translateX(-50%) scale(0.7);
        transform: translateX(-50%) scale(0.7);
    }
    .video__background .phone {
        width: 100%;
    }
}
@media (max-width: 767.98px) {
    .video__background::before {
        -webkit-transform: translateX(-50%) scale(0.6);
        transform: translateX(-50%) scale(0.6);
        top: 3rem;
    }
    .video__background .phone {
        width: 100%;
    }
    .video__play > button {
        width: 12.1rem;
        height: 12.1rem;
    }
    .video__play > button i {
        font-size: 5rem;
    }
}
.growth {
    width: 100vw;
}
.growth__wrapper {
    background-color: #f0f7fc;
    padding: 15rem 0;
    width: calc(100% - 10rem);
    margin: 0 auto;
    border-radius: 3rem;
}
.growth .section-heading {
    text-align: center;
    margin: 0 auto 5rem auto;
}
.growth__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.growth__box .icon {
    width: 11.9rem;
    height: 11.9rem;
    background: #daecf9;
    background: -webkit-gradient(linear, left bottom, left top, from(#daecf9), to(#fff));
    background: linear-gradient(0deg, #daecf9 0%, #fff 100%);
    border-radius: 50%;
    filter: drop-shadow(0px 30px 20px rgba(42, 129, 238, 0.2));
    -webkit-filter: drop-shadow(0px 30px 20px rgba(42, 129, 238, 0.2));
    -moz-filter: drop-shadow(0px 30px 20px rgba(42, 129, 238, 0.2));
    position: relative;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.growth__box .icon i {
    font-size: 5rem;
    color: #3890f0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.growth__box .content {
    width: 72%;
    background-color: white;
    position: relative;
    border-radius: 2rem;
    padding: 3.7rem 6.2rem 2.5rem 4rem;
}
.growth__box .content h3 {
    font-size: 2.2rem;
    font-weight: 600;
    width: 80%;
}
.growth__box:hover .icon {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
@media (min-width: 768px) {
    .growth .row > div:nth-child(odd) .growth__box .content::before {
        content: "";
        width: 4.8rem;
        height: 2.2rem;
        background: url(../images/arrow.png) no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        left: -3.3rem;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        -webkit-transform: translateY(-50%) rotate(-90deg);
    }
}
@media (min-width: 991.98px) {
    .growth .row > div:nth-child(even) .growth__box .icon {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .growth .row > div:nth-child(even) .growth__box .content {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .growth .row > div:nth-child(even) .growth__box .content::after {
        content: "";
        width: 4.8rem;
        height: 2.2rem;
        background: url(../images/arrow.png) no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        right: -3.3rem;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        -webkit-transform: translateY(-50%) rotate(90deg);
    }
}
.growth .row > div:nth-child(n + 3) {
    margin-top: 3rem;
}
.growth .button__wrapper {
    margin-top: 5rem;
}
.growth .button__wrapper a {
    background: #1369ec;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(19, 105, 236, 0)),
        color-stop(50%, rgba(255, 177, 107, 0)),
        color-stop(51%, #1369ec),
        to(#65bef4)
    );
    background: linear-gradient(0deg, rgba(19, 105, 236, 0) 0%, rgba(255, 177, 107, 0) 50%, #1369ec 51%, #65bef4 100%);
    background-size: 200% 200%;
    background-position: center bottom;
}
.growth .button__wrapper a:hover {
    background-position: center top;
    border: none;
    filter: drop-shadow(0px 10px 20px rgba(33, 120, 237, 0.4));
    -webkit-filter: drop-shadow(0px 10px 20px rgba(33, 120, 237, 0.4));
    -moz-filter: drop-shadow(0px 10px 20px rgba(33, 120, 237, 0.4));
}
@media (min-width: 991.98px) and (max-width: 1200px) {
    .growth__box .content {
        width: 68%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .growth__wrapper {
        padding: 5rem 2rem;
    }
    .growth__box .content {
        width: 75%;
    }
    .growth .row > div:nth-child(n + 1) {
        margin-top: 5rem;
    }
    .growth .row > div:nth-child(even) .growth__box .content::before {
        content: "";
        width: 4.8rem;
        height: 2.2rem;
        background: url(../images/arrow.png) no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        left: -3.3rem;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        -webkit-transform: translateY(-50%) rotate(-90deg);
    }
}
@media (max-width: 768px) {
    .growth__wrapper {
        width: calc(100% - 5rem);
        padding: 5rem 2rem;
    }
    .growth__box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .growth__box .content {
        width: 100%;
        margin-top: 5rem;
        text-align: center;
    }
    .growth__box .content h3 {
        width: 100%;
    }
    .growth__box .content::before {
        content: "";
        width: 4.8rem;
        height: 2.2rem;
        background: url(../images/arrow.png) no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        top: -2rem;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .growth .row > div:nth-child(n + 2) {
        margin-top: 5rem;
    }
}
.step {
    width: 100vw;
    margin-top: 3rem;
}
.step__wrapper {
    margin: 5rem 0;
    background-color: #fff6e9;
    padding: 15rem 0;
    width: calc(100% - 10rem);
    margin: 0 auto;
    border-radius: 3rem;
}
.step .section-heading {
    text-align: center;
    margin: 0 auto 5rem auto;
}
.step__box {
    text-align: center;
}
.step__box .image {
    width: 100%;
    filter: drop-shadow(0px 40px 20px rgba(255, 186, 114, 0.4));
    -webkit-filter: drop-shadow(0px 40px 20px rgba(255, 186, 114, 0.4));
    -moz-filter: drop-shadow(0px 40px 20px rgba(255, 186, 114, 0.4));
}
.step__box .image img {
    width: 100%;
}
.step__box .content {
    margin-top: 4.5rem;
}
.step__box .content h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #f41675;
    margin-bottom: 2.5rem;
    line-height: -4rem;
    letter-spacing: 0.1rem;
}
.step__box .content h3 span {
    display: block;
    font-size: 4rem;
    color: #000;
    letter-spacing: initial;
}
.step__box .content .paragraph {
    width: 94%;
}
.step .button {
    border: 4px solid #ffd588;
}
.step .button:focus,
.step .button:hover {
    background-color: #ffd588;
}
.step .button__wrapper {
    margin-top: 3.4rem;
}
.step .button__wrapper {
    margin-top: 5rem;
}
.step .button__wrapper a {
    background: #1369ec;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(19, 105, 236, 0)),
        color-stop(50%, rgba(255, 177, 107, 0)),
        color-stop(51%, #ffb16b),
        to(#ffdb8d)
    );
    background: linear-gradient(0deg, rgba(19, 105, 236, 0) 0%, rgba(255, 177, 107, 0) 50%, #ffb16b 51%, #ffdb8d 100%);
    background-size: 200% 200%;
    background-position: center bottom;
}
.step .button__wrapper a:hover {
    background-position: center top;
    border: none;
    filter: drop-shadow(0px 10px 20px rgba(255, 186, 114, 0.4));
    -webkit-filter: drop-shadow(0px 10px 20px rgba(255, 186, 114, 0.4));
    -moz-filter: drop-shadow(0px 10px 20px rgba(255, 186, 114, 0.4));
}
@media (max-width: 991.98px) {
    .step__wrapper {
        padding: 5rem 0;
    }
    .step__box .image img {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        width: auto;
        margin: 0 auto;
    }
    .step__box .content {
        margin: 0;
    }
    .step__box .content .paragraph {
        width: 60%;
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .step__wrapper {
        width: calc(100% - 5rem);
        padding: 5rem 2rem;
    }
}
.clients-sec {
    width: 100vw;
    padding: 15rem 0;
}
.clients-sec .section-heading {
    text-align: center;
    margin: 0 auto 5rem auto;
    width: 59%;
}
.clients-sec .testimonial__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-bottom: 10rem;
}
.clients-sec .testimonial__wrapper .client {
    width: 50%;
}
.clients-sec .testimonial__wrapper .client:nth-child(n + 3) {
    margin-top: 3rem;
}
.clients-sec .testimonial__wrapper .client .image {
    cursor: pointer;
}
.clients-sec .testimonial__wrapper .client .image img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.clients-sec .testimonial__wrapper .client .testimonial {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background: #19a5a1;
    background: linear-gradient(45deg, #19a5a1 0%, #63e8e4 100%);
    width: 60%;
    height: 100%;
    color: white;
    border-radius: 3rem;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    filter: drop-shadow(0px 20px 10px rgba(79, 188, 186, 0.4));
    -webkit-filter: drop-shadow(0px 20px 10px rgba(79, 188, 186, 0.4));
    -moz-filter: drop-shadow(0px 20px 10px rgba(79, 188, 186, 0.4));
}
.clients-sec .testimonial__wrapper .client .testimonial h4 {
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 2.3rem;
}
.clients-sec .testimonial__wrapper .client .testimonial p {
    font-weight: 500;
    font-size: 2.8rem;
}
.clients-sec .testimonial__wrapper .client .testimonial__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0 4.8rem 0;
}
.clients-sec .testimonial__wrapper .client:nth-child(even) .image {
    text-align: right;
}
.clients-sec .testimonial__wrapper .client.active .image img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.clients-sec .testimonial__wrapper .client.active .testimonial {
    visibility: visible;
    opacity: 1;
}
.clients-sec .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.clients-sec .clients-slider {
    width: 75%;
    margin-right: 0;
}
.clients-sec .clients-slide {
    text-align: right;
}
.clients-sec .clients-slide a {
    opacity: 0.6;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.clients-sec .clients-slide a:hover,
.clients-sec .clients-slide a:focus {
    opacity: 1;
    outline: 0;
}
.clients-sec .clients__info {
    width: 28%;
}
.clients-sec .clients__info h3 {
    font-weight: 600;
    font-size: 6rem;
    color: #000;
    margin-bottom: 1.7rem;
}
.clients-sec .clients__info .paragraph {
    font-size: 1.8rem;
}
@media (max-width: 1200px) {
    .clients-sec .testimonial__wrapper .client .testimonial {
        width: 55%;
    }
    .clients-sec .testimonial__wrapper .client .testimonial p {
        font-size: 2.4rem;
    }
}
@media (max-width: 991.98px) {
    .clients-sec {
        padding: 5rem 0;
    }
    .clients-sec .testimonial__wrapper .client .testimonial {
        width: 100%;
        height: 40rem;
        top: 24.8rem;
    }
    .clients-sec .testimonial__wrapper .client:nth-child(n + 3) {
        margin-top: 49.8rem;
    }
    .clients-sec .clients {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .clients-sec .clients-slider {
        width: 100%;
        margin-top: 5rem;
    }
    .clients-sec .clients-slide {
        text-align: center;
    }
    .clients-sec .clients__info {
        width: 100%;
        text-align: center;
    }
}
.questions {
    width: 100vw;
}
.questions__wrapper {
    background-color: #fef2f6;
    padding: 15rem 0;
    width: calc(100% - 10rem);
    margin: 0 auto;
    border-radius: 3rem;
}
.questions .section-heading {
    width: 50%;
}
.questions .card {
    background-color: transparent;
    border: 0;
}
.questions .card .card-header {
    border-radius: 0;
    background-color: transparent;
    border: 0;
    position: relative;
}
.questions .card .card-header h5 button {
    font-size: 2.2rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    letter-spacing: -0.02rem;
    line-height: 3rem;
    position: relative;
}
.questions .card .card-header h5::before {
    content: "\f056";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 2.2rem;
    color: #f41a77;
    position: absolute;
    top: 50%;
    left: -1.2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: inline-block;
}
.questions .card .card-header h5.hidden::before {
    content: "\f055";
}
.questions .card .card-body {
    background-color: white;
    border-radius: 2rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem 4.2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1rem;
}
.questions .card .card-body::before {
    content: "";
    width: 4.8rem;
    height: 2.2rem;
    background: url(../images/arrow.png) no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: -2rem;
    left: 5rem;
}
.questions .card .card-body .paragraph {
    color: #474b4c;
}
.questions-img {
    text-align: right;
    position: relative;
}
.questions-img img {
    z-index: 10;
    position: relative;
    filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
    -webkit-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
    -moz-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.2));
}
.questions-img::before {
    content: "";
    display: block;
    position: absolute;
    width: 75.3rem;
    height: 75.3rem;
    border-radius: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #f2026b;
    background: linear-gradient(45deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
    background-size: 200% 200%;
    background-position: left bottom;
    filter: drop-shadow(0px 5px 40px #f54590);
    -webkit-filter: drop-shadow(0px 5px 40px #f54590);
    -moz-filter: drop-shadow(0px 5px 40px #f54590);
    -webkit-animation-name: animateGradient;
    animation-name: animateGradient;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@media (max-width: 991.98px) {
    .questions-img {
        text-align: center;
    }
    .questions .section-heading {
        width: 100%;
    }
}
@media (max-width: 991.98px) {
    .questions-img {
        width: 100%;
    }
    .questions-img::before {
        -webkit-transform: scale(0.8) translate(-50%, 0);
        transform: scale(0.8) translate(-50%, 0);
        top: 0;
        left: 40%;
    }
    .questions #accordion {
        padding: 0 2rem;
        margin-top: 5rem;
    }
}
@media (max-width: 767.98px) {
    .questions__wrapper {
        width: calc(100% - 5rem);
        padding: 5rem 2rem;
    }
    .questions-img {
        width: 100%;
    }
    .questions-img::before {
        -webkit-transform: scale(0.6) translate(-50%, 0);
        transform: scale(0.6) translate(-50%, 0);
        top: 0;
        left: 22.5%;
    }
}
@media (max-width: 575.98px) {
    .questions #accordion {
        padding: 0 1rem;
    }
    .questions .card-header {
        width: 100%;
        font-size: 1.2rem;
    }
    .questions .card-header h5 {
        width: 100%;
        font-size: 1.2rem;
    }
    .questions .card-header h5 button {
        width: 100%;
        text-align: left;
        white-space: normal;
        font-size: 1.8rem !important;
    }
    .questions-img img {
        width: 50%;
        height: 50%;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .questions-img::before {
        -webkit-transform: scale(1) translate(-50%, 0);
        transform: scale(1) translate(-50%, 0);
        top: 10%;
        left: 50%;
        width: 30rem;
        height: 30rem;
    }
}
.pricing {
    width: 100vw;
}
.pricing__wrapper {
    width: 100%;
    padding: 15rem 0;
}
.pricing .section-heading {
    text-align: center;
    margin: 0 auto 5rem auto;
    width: 33%;
}
.pricing__single {
    padding: 4.5rem 0 2.3rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3rem;
}
.pricing__single .icon {
    width: 13.8rem;
    height: 13.8rem;
    background-color: white;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pricing__single .icon i {
    font-size: 6rem;
}
.pricing__single .row > div > a {
    display: block;
    width: 100%;
}
.pricing__single h4 {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    margin-top: 2.4rem;
}
.pricing__single h3 {
    font-size: 7rem;
    font-weight: 500;
    color: white;
    margin-top: -0.4rem;
}
.pricing__single h6 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 1rem;
}
.pricing__single .list {
    background-color: white;
    position: relative;
    padding: 3.7rem 2rem 2.1rem 2rem;
    border-radius: 2rem;
    width: 97%;
    margin-top: 4.3rem;
}
.pricing__single .list::before {
    content: "";
    width: 4.8rem;
    height: 2.2rem;
    background: url(../images/arrow.png) no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.pricing__single .list ul {
    font-size: 1.6rem;
    line-height: 4rem;
    color: #666b6d;
    width: 100%;
    padding-left: 5.3rem;
}
.pricing__single .list ul li {
    position: relative;
}
.pricing__single .list ul li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    left: -2.2rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: inline-block;
}
.pricing__single .list ul li.not-included::before {
    content: "\f00d";
}
.pricing__single .button {
    border: 4px solid transparent;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin-top: 1.8rem;
    color: white;
}
.pricing__single .button:hover,
.pricing__single .button:focus {
    background-color: transparent;
    color: white;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.pricing__single-1 {
    background: #9341d4;
    background: linear-gradient(45deg, #9341d4 0%, #d98efb 100%);
    filter: drop-shadow(0px 20px 10px rgba(147, 65, 212, 0.4));
    -webkit-filter: drop-shadow(0px 20px 10px rgba(147, 65, 212, 0.4));
    -moz-filter: drop-shadow(0px 20px 10px rgba(147, 65, 212, 0.4));
}
.pricing__single-1 .icon i {
    color: #c67af1;
}
.pricing__single-1 h6 {
    color: #f0d6fd;
}
.pricing__single-1 .list ul li::before {
    color: #c67af1;
}
.pricing__single-2 {
    background: #1369ec;
    background: linear-gradient(45deg, #1369ec 0%, #65bef4 100%);
    filter: drop-shadow(0px 20px 10px rgba(33, 120, 237, 0.4));
    -webkit-filter: drop-shadow(0px 20px 10px rgba(33, 120, 237, 0.4));
    -moz-filter: drop-shadow(0px 20px 10px rgba(33, 120, 237, 0.4));
}
.pricing__single-2 .icon i {
    color: #3890f0;
}
.pricing__single-2 h6 {
    color: #bcddf5;
}
.pricing__single-2 .list ul li::before {
    color: #3890f0;
}
.pricing__single-3 {
    background: #19a5a1;
    background: linear-gradient(45deg, #19a5a1 0%, #63e8e4 100%);
    filter: drop-shadow(0px 20px 10px rgba(79, 188, 186, 0.4));
    -webkit-filter: drop-shadow(0px 20px 10px rgba(79, 188, 186, 0.4));
    -moz-filter: drop-shadow(0px 20px 10px rgba(79, 188, 186, 0.4));
}
.pricing__single-3 .icon i {
    color: #2db7b3;
}
.pricing__single-3 h6 {
    color: #c9f7f6;
}
.pricing__single-3 .list ul li::before {
    color: #2db7b3;
}
@media (max-width: 991.98px) {
    .pricing .section-heading {
        width: 75%;
        margin-bottom: 5rem;
    }
    .pricing__wrapper {
        padding: 5rem 2rem;
    }
    .pricing .row > div:nth-child(n + 2) {
        margin-top: 5rem;
    }
}
.screenshot {
    width: 100vw;
}
.screenshot__wrapper {
    background-color: #f0f7fc;
    margin: 0 auto;
    overflow: visible;
    padding: 15rem 0;
    width: calc(100% - 10rem);
    margin: 0 auto;
    border-radius: 3rem;
}
.screenshot-slider {
    width: 100vw;
    margin-top: 9.8rem;
    margin-left: -2.5%;
    overflow: visible !important;
}
.screenshot-slide {
    text-align: center;
    opacity: 0.4;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.4));
    -webkit-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.4));
    -moz-filter: drop-shadow(0px 20px 10px rgba(75, 80, 84, 0.4));
}
.screenshot .swiper-slide-active {
    opacity: 1;
}
.screenshot__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.screenshot-nav-prev,
.screenshot-nav-next {
    display: inline-block;
    cursor: pointer;
}
.screenshot-nav-prev i,
.screenshot-nav-next i {
    font-size: 5rem;
    color: #8e9a9d;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.screenshot-nav-prev:hover i,
.screenshot-nav-next:hover i {
    color: #ff0087;
}
.screenshot-nav-prev:focus,
.screenshot-nav-next:focus {
    outline: 0;
}
.screenshot-nav-next {
    margin-left: 4rem;
}
@media (max-width: 991.98px) {
    .screenshot__wrapper {
        width: calc(100% - 5rem);
    }
    .screenshot__info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .screenshot-slide {
        text-align: center;
    }
    .screenshot-slide a {
        margin: 0 auto;
    }
    .screenshot-slider {
        margin-left: 0;
        width: 100%;
        margin-top: 5rem;
    }
}
.related-blog .section-heading {
    text-align: center;
    margin: 0 auto 5rem auto;
    width: 35%;
}
.related-blog .button {
    margin: 10rem auto 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.related-blog .button {
    border: 4px solid #ffdbe8;
}
.related-blog .button i {
    color: #f2046c;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.related-blog .button:focus,
.related-blog .button:hover {
    background-color: #ffdbe8;
}
.related-blog .button:focus i,
.related-blog .button:hover i {
    color: white;
}
@media (max-width: 991.98px) {
    .related-blog .section-heading {
        width: 90%;
    }
}
.newsletter {
    width: 100vw;
}
.newsletter__wrapper {
    width: calc(100% - 10rem);
    margin: 0 auto;
    position: relative;
    padding: 1.5rem 0 0 0;
}
.newsletter__wrapper::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 82%;
    background-color: #fef2f6;
    border-radius: 3rem;
}
.newsletter__info {
    position: relative;
    bottom: -4.6rem;
}
.newsletter__info .section-heading {
    width: 88%;
}
.newsletter__info--field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 3rem;
}
.newsletter__info button {
    width: 23.1rem;
    margin-left: 1rem;
    background: #f2026b;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    color: white;
    background: -webkit-gradient(linear, left bottom, left top, from(#f2026b), color-stop(50%, #ff8aaf), to(#f2026b));
    background: linear-gradient(0deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
    border: none;
    background-size: 200% 200%;
    background-position: bottom;
    filter: drop-shadow(0px 10px 10px rgba(245, 69, 144, 0.4));
    -webkit-filter: drop-shadow(0px 10px 10px rgba(245, 69, 144, 0.4));
    -moz-filter: drop-shadow(0px 10px 10px rgba(245, 69, 144, 0.4));
    cursor: pointer;
}
.newsletter__info button:hover {
    background-position: top;
}
.newsletter__img {
    text-align: right;
    position: relative;
}
.newsletter__img img {
    z-index: 10;
    position: relative;
}
.newsletter__img::before {
    content: "";
    width: 63.6rem;
    height: 36.7rem;
    background: url(../images/newsletter-texture.png) no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    bottom: 0;
    right: -15rem;
    z-index: 1;
}
@media (max-width: 991.98px) {
    .newsletter {
        margin-top: 5rem;
    }
    .newsletter__wrapper {
        width: calc(100% - 5rem);
        background-color: #fef2f6;
        border-radius: 3rem;
        padding-top: 10rem;
        overflow: hidden;
    }
    .newsletter__wrapper::before {
        display: none;
    }
    .newsletter__img {
        text-align: center;
        margin-top: 2rem;
    }
    .newsletter__img::before {
        right: initial;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .newsletter__info {
        position: static;
        bottom: initial;
    }
    .newsletter__info--field {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .newsletter__info button {
        margin: 2rem auto 0 auto;
        width: 33rem;
    }
}
.input-field {
    width: 33rem;
    height: 6.5rem;
    border: 4px solid #ffdbe8;
    border-radius: 10rem;
    padding: 0 2rem 0 3rem;
    font-size: 1.6rem;
    color: #666b6d;
}
.input-field::-webkit-input-placeholder {
    color: #666b6d;
}
.input-field::-moz-placeholder {
    color: #666b6d;
}
.input-field:-ms-input-placeholder {
    color: #666b6d;
}
.input-field:-moz-placeholder {
    color: #666b6d;
}
.input-field:focus {
    outline: 0;
    border: 4px solid #fe7fa9;
}
.newsletter-2 .newsletter__wrapper {
    overflow: visible;
}
.newsletter-2 .newsletter__wrapper::before {
    height: 90% !important;
}
.newsletter-2 .container {
    overflow: visible;
}
.newsletter-2 .row > div {
    overflow: visible;
}
.newsletter-2 .section-heading {
    width: 56%;
    margin-bottom: 3rem;
}
.newsletter-2 .comment_form {
    z-index: 50;
    position: relative;
}
.newsletter-2 .newsletter__img {
    position: relative;
    right: -5rem;
}
.newsletter-2 .newsletter__img img {
    width: auto;
    height: auto;
}
.newsletter-2 .newsletter__img::before {
    width: 66rem;
    height: 40rem;
}
@media (max-width: 991.98px) {
    .newsletter-2 .section-heading {
        width: 80%;
    }
    .newsletter-2 .newsletter__wrapper {
        padding: 5rem 2rem 0 2rem;
        overflow: hidden;
    }
    .newsletter-2 .newsletter__wrapper::before {
        height: 100%;
    }
    .newsletter-2 .newsletter__img {
        position: static;
        right: initial;
        text-align: center;
    }
}
.footer {
    width: 100vw;
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.footer__wrapper {
    padding: 15rem 0;
    width: calc(100% - 10rem);
    margin: 0 auto;
    border-radius: 3rem;
    background-color: #f0f7fc;
}
.footer__info--logo {
    margin-bottom: 5.6rem;
}
.footer__info--content .paragraph {
    width: 76%;
    margin-bottom: 3rem;
}
.footer__list ul li:first-child {
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 5.6rem;
}
.footer__list ul li:nth-child(n + 2) {
    margin-bottom: 1.7rem;
}
.footer__list ul li a {
    font-size: 1.6rem;
    color: #707577;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.footer__list ul li a:hover {
    color: #000;
}
.footer__content-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer .download-buttons {
    margin-right: 5.7rem;
}
.footer .download-buttons h5 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 5.9rem;
}
.footer .download-buttons a:last-child {
    margin-top: 1rem;
}
.footer__copy {
    margin-top: 1.8rem;
}
.footer__copy h6 {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    letter-spacing: 0.1rem;
    color: #707577;
}
@media (max-width: 991.98px) {
    .footer__content-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer__wrapper {
        width: calc(100% - 5rem);
        text-align: center;
        padding: 10rem 0 5rem 0;
    }
    .footer__info--content .paragraph {
        margin: 0 auto 3rem auto;
    }
    .footer__list {
        margin-top: 3rem;
    }
    .footer__list ul li:first-child {
        margin-bottom: 3rem;
    }
    .footer .download-buttons {
        margin-right: 0;
    }
    .footer .download-buttons h5 {
        margin-bottom: 3rem;
    }
    .footer .download-buttons a {
        margin: 0 auto;
        text-align: left;
    }
    .footer__copy {
        width: 100%;
        text-align: center;
        margin-top: 4rem;
    }
}
/*# sourceMappingURL=style.css.map */
