<!--hero section start-->
<section class="hero hero-2">
    <div class="hero__wrapper">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-lg-6 order-2 order-lg-1">
                    <h1 class="main-heading color-black">Having the cryptocurrency world at your fingertips
                    </h1>
                    <p class="paragraph"><span>Sanr wallet</span> is an extraordinarily swift and secure
                        multi-crypto wallet, aiming to simplify the way users store and retrieve their digital assets.
                    </p>
                    <div class="download-buttons">
                        <a href="#" class="google-play">
                            <i class="fab fa-google-play"></i>
                            <div class="button-content">
                                <h6>GET IT ON <span>Google Play</span></h6>
                            </div>
                        </a>
                        <a href="#" class="apple-store">
                            <i class="fab fa-apple"></i>
                            <div class="button-content">
                                <h6>GET IT ON <span>Apple Store</span></h6>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="questions-img hero-img">
                        <img src="images/phone-01.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--hero section end-->

<!--feature section start-->
<section class="feature" id="intro">
    <div class="container">
        <h2 class="section-heading color-black">WE GIVE YOU THE POWER TO</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="feature__box feature__box--1">
                    <div class="icon icon-1">
                        <i class="fad fa-user-astronaut"></i>
                    </div>
                    <div class="feature__box__wrapper">
                        <div class="feature__box--content feature__box--content-1">
                            <h3>Exchange On The Go</h3>
                            <p class="paragraph dark">Buy and sell crypto assets from the comfort of your wallet in
                                seconds once your device has been accessed on the Internet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature__box feature__box--2">
                    <div class="icon icon-2">
                        <i class="fad fa-lightbulb-on"></i>
                    </div>
                    <div class="feature__box__wrapper">
                        <div class="feature__box--content feature__box--content-2">
                            <h3>Transfer And Receive </h3>
                            <p class="paragraph dark">Transfer and receive in a safe and secure manner, knowing Sanr
                                Wallet automatically checks all addresses for errors. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature__box feature__box--3">
                    <div class="icon icon-3">
                        <i class="fad fa-solar-system"></i>
                    </div>
                    <div class="feature__box__wrapper">
                        <div class="feature__box--content feature__box--content-3">
                            <h3>Store Multi-Cryptos</h3>
                            <p class="paragraph dark">Easily and simply store over 120 cryptocurrencies on the wallet,
                                and be capable of adding others depending on your use. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature__box feature__box--4">
                    <div class="icon icon-4">
                        <i class="fad fa-rocket-launch"></i>
                    </div>
                    <div class="feature__box__wrapper">
                        <div class="feature__box--content feature__box--content-4">
                            <h3>Secure Your Assets</h3>
                            <p class="paragraph dark">As one of the safest wallets available, we have several
                                high-level security features and standardisation protocols.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--feature section end-->

<!--video section start-->
<div class="video" id="video">
    <div class="video__wrapper">
        <div class="container">
            <div class="video__play">
                <!-- <button type="button" data-toggle="modal" data-target="#videoModal">
            <i class="fad fa-play"></i>
          </button> -->
                <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-close">
                                <button type="button" data-dismiss="modal" aria-label="Close">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                                <iframe src="https://www.youtube.com/embed/2BrCE_zxM0U"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="video__background">
                <img src="images/video-bg-1.png" alt="image" class="texture-1">
                <img src="images/video-img.png" alt="image" class="phone">
                <img src="images/video-bg-2.png" alt="image" class="texture-2">
            </div>
        </div>
    </div>
</div>
<!--video section end-->

<!--step section start-->
<section class="step">
    <div class="step__wrapper">
        <div class="container">
            <h2 class="section-heading color-black">Render cryptocurrency comprehensible and understandable for
                everyone</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="step__box">
                        <div class="image">
                            <img src="images/phone-01.png" alt="image">
                        </div>
                        <div class="content">
                            <h3>EASY TO<span>Register.</span></h3>
                            <p class="paragraph dark">Join the app in just a few steps and open the door to the
                                cryptocurrency world.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="step__box">
                        <div class="image">
                            <img src="images/phone-02.png" alt="image">
                        </div>
                        <div class="content">
                            <h3>SWIFT TO
                                <span>Sign-in.</span></h3>
                            <p class="paragraph dark">Once you created an account with us you can sign-in as quickly
                                as a second.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="step__box">
                        <div class="image">
                            <img src="images/phone-03.png" alt="image">
                        </div>
                        <div class="content">
                            <h3>SIMPLE TO<span>Use.</span></h3>
                            <p class="paragraph dark"> Keep simple design a priority as well as enhance user
                                experience with Sanr Wallet.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="button__wrapper">
                    <a href="#" class="button">
                        <span>GET STARTED <i class="fad fa-long-arrow-right"></i></span>
                    </a>
                    <a href="#" class="button">
                        <span>LEARN MORE <i class="fad fa-long-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--step section end-->



<!--growth section start-->
<section class="growth" id="feature">
    <div class="growth__wrapper">
        <div class="container">
            <h2 class="section-heading color-black">Experience our services with top pros
            </h2>
            <div class="row">
                <div class="col-lg-6">
                    <div class="growth__box">
                        <div class="icon">
                            <i class="fas fa-database"></i>
                        </div>
                        <div class="content">
                            <h3>Keep your data confidential </h3>
                            <p class="paragraph dark">Sanr private keys and transaction data on your mobile device are
                                not allowed to share to any third parties. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="growth__box">
                        <div class="icon">
                            <i class="fas fa-sync"></i>
                        </div>
                        <div class="content">
                            <h3>Desktop sync</h3>
                            <p class="paragraph dark">Using your 12-word backup phrase can control your wealth on your
                                mobile device and sync to your desktop.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="growth__box">
                        <div class="icon">
                            <i class="fas fa-user-headset"></i>
                        </div>
                        <div class="content">
                            <h3>24/7 Human Support </h3>
                            <p class="paragraph dark">We offer 24-hour customer service and provide an online help
                                desk to get your questions answered, fast. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="growth__box">
                        <div class="icon">
                            <i class="fas fa-fingerprint"></i>
                        </div>
                        <div class="content">
                            <h3>One touch easy </h3>
                            <p class="paragraph dark">Users can trade their crypto assets in a few taps. Sanr hides
                                the complicated details while assets are exchanged in seconds.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="growth__box">
                        <div class="icon">
                            <i class="fas fa-user-friends"></i>
                        </div>
                        <div class="content">
                            <h3>Friendly and trustworthy</h3>
                            <p class="paragraph dark">Sanr makes it amazing and easy to learn and use cryptocurrencies
                                without any confusing and complex steps. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="growth__box">
                        <div class="icon">
                            <i class="fad fa-user-astronaut"></i>
                        </div>
                        <div class="content">
                            <h3>Monitor market movement </h3>
                            <p class="paragraph dark">Vivid and clear market cap shall be illustrated on our interface
                                to help you have a precise look for investment strategy. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="button__wrapper">
                    <a href="#" class="button">
                        <span>GET STARTED <i class="fad fa-long-arrow-right"></i></span>
                    </a>
                    <a href="#" class="button">
                        <span>LEARN MORE <i class="fad fa-long-arrow-right"></i></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--growth section end-->




<!--questions section start-->
<section class="questions" id="faq">
    <div class="questions__wrapper">
        <div class="container">
            <h2 class="section-heading color-black">SOME COMMONLY ASKED QUESTIONS</h2>
            <div class="row align-items-lg-center">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div id="accordion">
                        <div class="card" id="card-1">
                            <div class="card-header" id="heading-1">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-1"
                                        aria-expanded="true" aria-controls="collapse-1">
                                        How many coins can Sanr Wallet store?
                                    </button>
                                </h5>
                            </div>

                            <div id="collapse-1" class="collapse show" aria-labelledby="heading-1"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="paragraph">As of the time of writing, Sanr Wallet is able to store over
                                        120 coins and more.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="card-2">
                            <div class="card-header" id="heading-2">
                                <h5 class="mb-0 hidden">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                                        What is a business rules engine?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="paragraph">With increasing calls for government accountability and cost
                                        savings, agencies
                                        are contending with a mountain
                                        of rule and policy changes affecting everything from pensions and benefits, to
                                        client eligibility
                                        and oversight.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="card-3">
                            <div class="card-header" id="heading-3">
                                <h5 class="mb-0 hidden">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                        How are datadirect drivers different?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="paragraph">With increasing calls for government accountability and cost
                                        savings, agencies
                                        are contending with a mountain
                                        of rule and policy changes affecting everything from pensions and benefits, to
                                        client eligibility
                                        and oversight.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="card-4">
                            <div class="card-header" id="heading-4">
                                <h5 class="mb-0 hidden">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                        How do determine agencies compliance?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="paragraph">With increasing calls for government accountability and cost
                                        savings, agencies
                                        are contending with a mountain
                                        of rule and policy changes affecting everything from pensions and benefits, to
                                        client eligibility
                                        and oversight.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="card-5">
                            <div class="card-header" id="heading-5">
                                <h5 class="mb-0 hidden">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                        How are datadirect drivers different?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="paragraph">With increasing calls for government accountability and cost
                                        savings, agencies
                                        are contending with a mountain
                                        of rule and policy changes affecting everything from pensions and benefits, to
                                        client eligibility
                                        and oversight.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="card-6">
                            <div class="card-header" id="heading-6">
                                <h5 class="mb-0 hidden">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
                                        What is a business rules engine?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-6" class="collapse" aria-labelledby="heading-6" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="paragraph">With increasing calls for government accountability and cost
                                        savings, agencies
                                        are contending with a mountain
                                        of rule and policy changes affecting everything from pensions and benefits, to
                                        client eligibility
                                        and oversight.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="card-7">
                            <div class="card-header" id="heading-7">
                                <h5 class="mb-0 hidden">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
                                        What are the types of datadirect drivers?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse-7" class="collapse" aria-labelledby="heading-7" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="paragraph">With increasing calls for government accountability and cost
                                        savings, agencies
                                        are contending with a mountain
                                        of rule and policy changes affecting everything from pensions and benefits, to
                                        client eligibility
                                        and oversight.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="questions-img">
                        <img src="images/phone-01.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--questions section end-->

<!--newsletter section start-->
<section class="newsletter newsletter-2">
    <div class="newsletter__wrapper">
        <div class="container">
            <div class="row align-items-lg-center">
                <div class="col-lg-8">
                    <div class="newsletter__info">
                        <h2 class="section-heading color-black">Get in touch with us today.</h2>
                        <div class="comment_form">
                            <div>
                                <input type="text" placeholder="Name *" class="input-field">
                                <input type="text" placeholder="Email *" class="input-field">
                                <input type="text" placeholder="Website" class="input-field">
                            </div>
                            <div>
                                <textarea placeholder="Write message *" class="input-field"></textarea>
                                <button class="button"><span>SEND <i
                                            class="fad fa-long-arrow-right"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newsletter__img">
                        <img src="images/newsletter-img-1.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--newsletter section end-->